body {
  background-color: maroon;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: red;
}

.navbar {
  display: flex;
  flex-direction: row;
}

a {
  color: #ff9900;
}

a:hover {
  color: skyblue;
}

a.active {
  color: red;
}

/*
  dark purple: #990099
  dark pink: #cc0066
  dark orange: #e62e00
  orange: #ff751a
  yellow orange: #ff9900
*/
