body {
  background-color: maroon;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  color: red;
  margin: 0 310px;
  font-size: 17px;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.logout input {
  background: none;
  border: none;
  padding: 15px;
  font-size: 25px;
  color: #ff9900;
  display: flex;
  flex-direction: row;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
}

.login-signup a {
  color: #ff9900;
  padding: 10px 0px;
  text-decoration: none;
  justify-content: center;
  display: inline;
}

a {
  color: #ff9900;
  padding: 15px;
  text-decoration: none;
  justify-content: center;
  display: flex;
}

button, .message-input input[type=submit], .signup input[type=submit], .login input[type=submit] {
  color: #ff9900;
  padding: 7px 7px;
  text-decoration: none;
  justify-content: center;
  background: none;
  border: none;
  font-size: 14px;
}

input[type=text], input[type=password], input[type=number], select, textarea {
  background: #990099;
  border: none;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  padding: 10px;
  color: skyblue;
}

a:hover, button:hover, input[type=submit]:hover {
  color: skyblue;
  background-color: #990099;
}

a.active {
  color: red;
}

/*
  dark purple: #990099
  yellow orange: #ff9900
*/
